// Colors
$bgcolor: #fafafa;
$textcolor: #3b4043;
$secondarycolor: #01937c;
$fontFamily: "Bodoni MT";


.home-button {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background: $secondarycolor;
    padding: 8px 12px;
    border-radius: 5px;
    margin: -50px 100px;
    position: absolute;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.home-button:hover {
    cursor: pointer;
    background-color: #3b4043;
}


.card-details {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $textcolor;

    .food-name {
        color: $textcolor;
        font-weight: 500;
        font-size: 40px;

    }

    .food-details {
        display: flex;
    }

    .food-author {
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .food-difficulty,
    .food-time,
    .food-rating {
        font-size: 15px;
        color: $secondarycolor;
        font-weight: 400;
        margin: 10px 20px 10px 0px;

        .food-difficulty-data,
        .food-time-data,
        .food-rating-data {
            color: $textcolor;
            font-weight: 300;
            text-transform: capitalize;
        }

    }

}


.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $secondarycolor;
    transform-origin: 0%;
}


.card-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f4f4f3;

    .food-image {
        border-radius: 15px;
        margin-bottom: 40px;
    }

    .steps-title {
        font-size: 25px;
        color: $secondarycolor;
    }

    .steps-number {
        font-size: 18px;
        font-weight: 400;
    }

    .steps-direction {
        font-size: 17px;
        font-weight: 300;
        margin: 10px 30px;
    }

    .steps-content {
        margin: 20px 20px;
    }

    .ingredients-content {
        margin: 20px 20px;

        .ingredients-quantity {
            font-weight: 500;
            font-size: 15px;
        }

        .ingredients-name {
            font-weight: 400;
            font-size: 15px;
            margin-left: 10px;
        }
    }
}

.download {
    margin-top: 30px;

    .download-recipe {
        font-size: 15px;
        color: white;
        text-decoration: none;
        background: $secondarycolor;
        padding: 10px 14px;
        border-radius: 5px;
        transition: 0.2s;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .download-recipe:hover {
        cursor: pointer;
        background-color: #3b4043;
    }

    .download-recipe:focus {
        text-decoration: none;
        border: none;
    }
}



// Media Queries



// Mobile
@media (min-width:257px) and (max-width: 768px) {

    .home-button {
        display: none;
    }

    .card-details {
        .food-name {
            font-size: 30px;
        }

        .food-details {
            display: flex;
            flex-direction: column;
        }

        .food-difficulty,
        .food-time,
        .food-rating {
            font-size: 12px;
        }

    }

    .card-box {

        width: 100%;

        .steps-number {
            font-size: 11px;
            font-weight: 400;
        }

        .steps-direction {
            font-size: 11px;
            font-weight: 300;
            margin: 10px 10px;
        }

        .steps-title {
            font-size: 17px;
        }

        .ingredients-content {
            margin: 10px 10px;

            .ingredients-quantity {
                font-weight: 500;
                font-size: 10px;
            }

            .ingredients-name {
                font-weight: 400;
                font-size: 10px;
                margin-left: 5px;
            }
        }
    }
}

// Tablet 
@media (min-width: 769px) and (max-width: 1024px) {

    .card-box {
        .steps-content {
            margin: 16px 12px;
        }

        .steps-number {
            font-size: 15px;
            font-weight: 400;
        }

        .steps-direction {
            font-size: 13px;
            font-weight: 300;
            margin: 10px 30px;
        }

        .steps-title {
            font-size: 21px;
        }

        .ingredients-content {
            margin: 20px 10px;

            .ingredients-quantity {
                font-weight: 500;
                font-size: 13px;
            }

            .ingredients-name {
                font-weight: 400;
                font-size: 13px;
                margin-left: 5px;
            }
        }
    }

}