// Colors
$bgcolor: #fafafa;
$textcolor: #3b4043;
$secondarycolor: #01937c;
$fontFamily: "Bodoni MT";

// Font Size
$largeSize: 50px;
$mediumSize: 35px;
$smallSize: 20px;


.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: $fontFamily;


    .avatar {
        background-color: #01937c;
    }

    .avatar:hover {
        cursor: pointer;
        background-color: $textcolor;
    }

    button {
        background-color: transparent;
        border: none;
        margin: 4px 0px 0px 7px;
    }

    .logo-size {
        width: 175px;
    }

}

.logo-modal {
    width: 250px;
    margin: 0px 0px 20px 0px
}

.link-website {
    text-decoration: none;
    color: #01937c;
    margin-left: 5px;
}

.link-website:hover {
    color: #3b4043;
    transition-duration: 100ms;
}

.sort-name,
.sort-rate {
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.cards-destination {
    text-decoration: none;
}

.cards:hover {
    transform: scale(1.05);
    transition-duration: 100ms;
}

// Fab 

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

.floating-container {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-container:hover {
    height: 150px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 2px 10px 0px $textcolor;
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: $secondarycolor;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 0px 5px 0px white;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: bottom;
    font-size: 20px;
}

.floating-container .float-element:nth-child(1) {
    background: white;
    box-shadow: 0 10px 10px -10px $textcolor;
}



.floating-icon-login {
    font-weight: 700;
    font-size: 50px;
}

.floating-icon-admin {
    color: $textcolor;
    font-weight: 700;
    font-size: 45px;
    margin-top: 2px;
    margin-left: 2px;
}


.contacts {
    font-size: 65px;

}


// Mobile
@media only screen and (max-width: 768px) {
    .header {
        button {
            margin-right: -10px;
        }
    }


}


// Tablet 
@media (min-width: 769px) and (max-width: 1024px) {}

// Laptop 
@media (min-width: 1025px) and (max-width: 1200px) {}

// Desktop 
@media (min-width: 1201px) and (max-width: 1700px) {

    .header {
        .logo-size {
            width: 220px;
        }
    }

}

// Large Devices 
@media (min-width: 1701px) and (max-width: 2732px) {

    .header {
        .logo-size {
            width: 250px;
        }

    }
}