// Colors
$bgcolor: #fafafa;
$textcolor: #3b4043;
$secondarycolor: #01937c;
$fontFamily: "Bodoni MT";


.form-background {
    align-items: center;
    border-radius: 10px;
    display: flex;

    .notes {

        color: $textcolor;
        font-size: 17px;
        display: 'flex';
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        margin-left: -25px;
        line-height: 25px;


        .notes-title {
            color: $secondarycolor;
        }
    }

    .form {
        width: 100%;
    }

    .form-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $secondarycolor;
    }

    .steps-field {
        font-family: 'arial';
        width: 840px;
        padding: 10px;
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 15px;

    }

    .steps-field-error {
        font-family: 'arial';
        width: 840px;
        padding: 10px;
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        border: 1px solid red;
    }

    .steps-field:focus {
        outline: none !important;
        border: 2px solid $secondarycolor;
    }

    .steps-field-error:focus {
        outline: none !important;
        border: 2px solid $secondarycolor;
    }

    .link-website {
        text-decoration: none;
        color: #01937c;
        margin-left: 5px;
    }

    .link-website:hover {
        color: #3b4043;
        transition-duration: 100ms;
    }

}

// 500%

@media only screen and (max-width: 274px) {
    .form-background {
        .steps-field {
            width: 190px;
        }

        .notes {
            font-size: 10px;
            line-height: 20px;
        }

        .form-title {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $secondarycolor;
        }
    }

}

// 400%
@media (min-width: 275px) and (max-width: 342px) {
    .form-background {
        .steps-field {
            width: 190px;
        }

        .notes {
            font-size: 10px;
            line-height: 20px;
        }

        .form-title {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $secondarycolor;
        }
    }

}

// 300%
@media (min-width: 343px) and (max-width: 467px) {
    .form-background {
        .steps-field {
            width: 190px;
        }

        .notes {
            font-size: 10px;
            line-height: 20px;
        }

        .form-title {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $secondarycolor;
        }
    }
}


// 250%
@media (min-width: 468px) and (max-width: 559px) {
    .form-background {
        .steps-field {
            width: 450px;
        }

        .notes {
            font-size: 13px;
            line-height: 18px;
        }

        .form-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $secondarycolor;
        }
    }

}


// Mobile
@media (min-width: 600px) and (max-width: 768px) {
    .form-background {

        .steps-field,
        .steps-field-error {
            width: 560px;
        }

        .notes {
            font-size: 14px;
            line-height: 25px;
            width: 110%;
        }

        .form-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $secondarycolor;
        }
    }
}

// Tablet 

@media (min-width: 769px) and (max-width: 1024px) {
    .form-background {

        .steps-field,
        .steps-field-error {
            width: 540px;
        }

        .notes {
            font-size: 15px;
        }
    }
}

// Laptop 
@media (min-width: 1025px) and (max-width: 1200px) {
    .form-background {

        .steps-field,
        .steps-field-error {
            width: 740px;
        }

        .notes {
            font-size: 15px;
        }

    }
}

// Big Computer
@media (min-width: 2732px) {
    .form-background {

        .steps-field,
        .steps-field-error {
            width: 530px;
        }
    }
}