// Colors
$bgcolor: #fafafa;
$textcolor: #3b4043;
$secondarycolor: #01937c;
$fontFamily: "Bodoni MT";


.steps-field {
    font-family: 'arial';
    width: 840px;
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 15px;

}

.steps-field-error {
    font-family: 'arial';
    width: 840px;
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 1px solid red;
}

.steps-field:focus {
    outline: none !important;
    border: 2px solid $secondarycolor;
}

.steps-field-error:focus {
    outline: none !important;
    border: 2px solid $secondarycolor;
}


@media only screen and (max-width: 468px) {
    .steps-field {
        width: 100px;
        margin-left: 10px;
        margin-bottom: 15px;

    }

    .steps-field-error {
        width: 100px;
        margin-left: 10px;
        margin-bottom: 15px;
        border: 1px solid red;
    }
}

@media (min-width: 468px) and (max-width: 559px) {
    .steps-field {
        width: 300px;
    }

    .steps-field-error {
        width: 300px;
        border: 1px solid red;
    }
}


// Mobile
@media (min-width: 600px) and (max-width: 768px) {
    .steps-field {
        width: 400px;
        margin-left: 10px;
        margin-bottom: 15px;

    }

    .steps-field-error {
        width: 400px;
        margin-left: 10px;
        margin-bottom: 15px;
        border: 1px solid red;
    }
}

// // Tablet 
@media (min-width: 769px) and (max-width: 1024px) {
    .steps-field {
        width: 500px;
        margin-left: 10px;
        margin-bottom: 15px;

    }

    .steps-field-error {
        width: 500px;
        margin-left: 10px;
        margin-bottom: 15px;
        border: 1px solid red;
    }
}

// Laptop 
@media (min-width: 1025px) and (max-width: 1200px) {
    .steps-field {
        width: 640px;
        margin-left: 10px;
        margin-bottom: 15px;

    }

    .steps-field-error {
        width: 640px;
        margin-left: 10px;
        margin-bottom: 15px;
        border: 1px solid red;
    }
}

// // Big Computer
// @media (min-width: 2732px) {

// }